<div class="auth-layout">
  <!-- =============== COLUMNA IZQUIERDA =============== -->
  <div class="auth-left">
    <img src="assets/inserts/universidad.jpg" alt="Universidades ViviEstu" />

    <div class="left-text">
      <h1>Gestiona Zonas – Universidades</h1>
      <p>Registra y vincula universidades con zonas para calcular distancias y accesibilidad.</p>
    </div>
  </div>

  <!-- =============== COLUMNA DERECHA FORM =============== -->
  <div class="auth-right">
    <div class="form-box">
      <h2>{{ edicion ? 'Editar Zona–Universidad' : 'Registrar Zona–Universidad' }}</h2>

      <form [formGroup]="form" (submit)="aceptar()">
        <!-- SOLO EN EDICIÓN -->
        @if (edicion) {
        <mat-form-field appearance="outline">
          <mat-label>ID Relación</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>
        }

        <!-- Universidad -->
        <mat-form-field appearance="outline">
          <mat-label>Universidad</mat-label>
          <input matInput formControlName="universidad" required />
          @if (form.get('universidad')?.hasError('required')) {
          <mat-error>Ingrese el nombre de la universidad.</mat-error>
          }
        </mat-form-field>

        <!-- Distancia -->
        <mat-form-field appearance="outline">
          <mat-label>Distancia (minutos)</mat-label>
          <input matInput type="number" formControlName="distanciaMinutos" required />
        </mat-form-field>

        <!-- Zona -->
        <mat-form-field appearance="outline">
          <mat-label>Zona</mat-label>
          <mat-select formControlName="zona" required>
            @for (z of listaZonas; track z.idZona) {
            <mat-option [value]="z.idZona"> {{ z.nombreZona }} – {{ z.distrito }} </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Botones -->
        <button matButton="elevated">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

        
      </form>
      <button matButton type="button" routerLink="/homes">Volver</button>
    </div>
  </div>
</div>
