/* ============================= */
/*        CONTENEDOR GENERAL     */
/* ============================= */
.container {
  padding: 40px;
  font-family: 'Rubik', sans-serif;
}

.title-estilizada {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 30px;
}


/* ============================= */
/*        TABLA PRINCIPAL        */
/* ============================= */
table {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid var(--gray-75);
  background: white;
}

/* HEADER */
.mat-mdc-header-cell {
  background: var(--primary) !important;
  color: white !important;
  font-size: 15px;
  font-weight: 600;
  padding: 14px !important;
  text-align: center;
}

/* FILAS */
.mat-mdc-cell {
  padding: 14px !important;
  font-size: 14px;
  color: var(--gray-25);
  text-align: center;
}

/* ALTERNAR FILAS */
.mat-mdc-row:nth-child(even) {
  background: var(--gray-100);
}

/* HOVER FILA */
.mat-mdc-row:hover {
  background: var(--hover);
  cursor: pointer;
  transition: 0.25s ease;
}

/* ============================= */
/*        ICONOS ACCIONES        */
/* ============================= */
button[mat-icon-button] mat-icon {
  transition: 0.25s ease;
}

button[mat-icon-button]:hover mat-icon {
  transform: scale(1.2);
}

/* Botón editar */
button[color="primary"] mat-icon {
  color: var(--primary) !important;
}

/* Botón eliminar */
button[color="warn"] mat-icon {
  color: #c62828 !important;
}

/* ============================= */
/*        RESPONSIVE TABLE       */
/* ============================= */
@media (max-width: 850px) {
  .mat-mdc-header-cell,
  .mat-mdc-cell {
    font-size: 12.5px !important;
    padding: 10px !important;
  }

  .title-estilizada {
    font-size: 26px;
  }
}
