<section class="hero">
  <div class="hero-text">
    <h1>ViviEstu</h1>
    <h2>Encuentra tu zona ideal en Lima</h2>
    <p>
      Compara precios, seguridad y accesibilidad para elegir el lugar perfecto para vivir como
      estudiante.
    </p>
    <button class="btn-primary" routerLink="/login">Comenzar ahora</button>
  </div>

  <div class="hero-img">
    <img src="assets/landing/estudiantebuscandozonas.jpg" alt="Estudiante buscando zona" />
  </div>
</section>

<section class="benefits">
  <h2 class="title-section">¿Por qué elegir ViviEstu?</h2>

  <div class="benefits-grid">
    <div class="card">
      <img src="assets/landing/comparacion.jpg" alt="Comparación inteligente" />
      <h3>Comparación Inteligente</h3>
      <p>Analiza varias zonas según tus criterios personales.</p>
    </div>

    <div class="card">
      <img src="assets/landing/mapainteractivo.png" alt="Mapa interactivo" />
      <h3>Mapa Interactivo</h3>
      <p>Explora zonas y descubre opciones cerca de tu universidad.</p>
    </div>

    <div class="card">
      <img src="assets/landing/recomendaciones.png" alt="Recomendaciones" />
      <h3>Recomendaciones Personalizadas</h3>
      <p>Basadas en tu presupuesto y estilo de vida.</p>
    </div>
  </div>
</section>

<section class="cta">
  <h2>Comienza tu búsqueda estudiantil hoy mismo</h2>
  <button class="btn-secondary" routerLink="/login">Explorar zonas</button>
</section>

<footer class="footer">
  <p>© 2025 ViviEstu — Todos los derechos reservados</p>
</footer>
