<div class="container" style="text-align: center">
  <div>
    <img src="assets/home/logo.jpg" alt="Logo de la empresa" />
  </div>
  <h2>Inicie sesión</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>

    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <br />
  <button mat-raised-button class="custom-button" (click)="login()">Ingresar</button>
  <br>
  <br>
  <!--
  <button mat-raised-button class="custom-button" routerLink="/registro" type="button">
    Registrarse
  </button>
  -->
  <br />
  <br>
  <button matButton routerLink="/">Volver</button>
</div>
